

body{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

/* .container{
margin: 0px 30px;
} */

.nav1{
    display: flex;
    justify-content: space-around;
    background-color: #0aaaa0;
    color: white;
}

.nav1_left {
    margin:4px 0px;
}
.nav1_left a{
    margin:0px 8px;
    text-decoration: none;
    color: white;
}
.nav1_right{
    margin:4px 0px;
}
.nav1_right a{
    margin:0px 6px;
    text-decoration: none;
    color: white; 
}
.nav2{
    display: flex;
    justify-content: space-around;
    margin-bottom: -30px;
}

.nav2_left {
    margin:4px 0px;
}
.nav2_left img{
  width: 100px;
}
.nav2_right{
    margin:16px 0px;
}
.nav2_right a{
    margin:0px 10px;
    font-weight: 550;
    color: black;
    text-decoration: none;
}

.nav2_rightMost{
    margin:20px 0px;
}

.nav2_rightMost a{
    padding: 3px 6px;
    font-weight: 500;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.part2{
  height: 350px;
  background-image: url('https://htmldemo.hasthemes.com/grant-foundation/grant-foundation/img/slider/slide-one.jpg'); 
  }

.part2 h1{
    margin-bottom: -15px;
    font-size: 40px;
    padding: 120px 0px 0px 160px;
    color: #fff;
}

.part2 p{
    padding: 0px 25vw 0px 160px;
    color: #fff;
    font-size: 12px;
}

.part2 .buton{
    display: flex;

}
.part2 .buton1{
    margin: 0px 0px 0px 160px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}
.part2 .buton2{
    margin: 0px 0px 0px 30px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

.part2 .buton1:hover , .buton2:hover{
    background-color: #17a2b8;
}

.part6{
   height: 350px;
   text-align: center;
   color: aliceblue;
   /* background-color: black; */
   background-image: url('https://htmldemo.hasthemes.com/grant-foundation/grant-foundation/img/peopule-say-bg.jpg');
   background-repeat: no-repeat;
}

.part6 h3{
    padding-top: 30px;
    padding-bottom: 0px;
}

.part6 .img{
    border-radius:50% 50% 50% 50%;  
    width:100px;
    height:100px;
    border-bottom: 1px solid white;
}

.part6 .text1{
    font-size: 15px;
}

.volunteers{
    text-align: center;
    margin-bottom: -10px;
    color: #0aaaa0;
}

.volunteersImg{
   margin: 0px 340px;
}

.disc{
    font-size: 13px;
    text-align: center;
    margin: 0px 100px 40px 100px;
}
.part5 .part5img{
    width: 190px;
    margin-bottom: -20px;
}

.part5{
    display: flex;
    justify-content: space-around;
}

.part5 p {
    text-align: center;
}
.part5 span{
    font-size: 10px;
}
